# .NET Project .gitignore
# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.log
*.vspscc
*.vssscc
